/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding-x {
    @apply px-5 sm:px-6 md:px-8 lg:px-10 xl:px-16 2xl:px-52 ;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

.inter {
  font-family: Inter;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_28pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.theme-light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.theme-dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

/* .theme-ocean {
  --bg-color: #2e8b57;
  --text-color: #ffffff;
}

.theme-desert {
  --bg-color: #edc9af;
  --text-color: #000000;
} */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-light-box {
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.theme-dark-box {
  background-color: #000000;
}
/* .theme-ocean-box { background-color: #2e8b57; }
.theme-desert-box { background-color: #edc9af; } */

.theme-color-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}
